/*header start*/
.logo{
    position: absolute;
    width: 100px;
    margin-left: 75px;
    margin-top: 20px;
}

.prescription {
    width: 50px;
}

.cart {
    width: 45px;
}

.list1 {
    list-style: none;
    margin-top: 40px;
    margin-left: 520px;
    display: flex;
    align-items: center;
    
}

.list1.items li{
    color: black;
    font-weight: bold;
    font-size: 19px;
    font-family: 'Source Sans Pro', 'Roboto', 'Open Sans', sans-serif;
    display: inline;
    padding: 6px 25px 6px;
}

.list1.items li:hover{
    cursor: pointer;
    background-color: rgba(114, 111, 111, 0.292);
    border-radius: 10px;
    transition: 0.75s;
}

.list2 {
    width: 400px;
    display: flex;
    list-style: none;
    margin-left: 1110px;
}

.list2.items li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
}

.login_btn, .upld_btn, .search_btn {
    height: 40px;
    font-family: 'Source Sans Pro', 'Roboto', 'Open Sans', sans-serif;
    font-weight: bold;
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
}

.login_btn{
    width: 125px;
    color: black;
    background-color: transparent;
    font-size: 14px;

}

.login_btn:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

.upld_btn{
    width: 240px;
    height: 40px;
    font-size: 14px;
    color: white;
    background-color: black;
}

.upld_btn:hover{
    background-color: rgb(235, 235, 235);
    color: black;
    transition: 0.5s;
    cursor: pointer;
    border-color: white;
}

.search_btn {
    width: 100px;
    background-color: black;
    color: white;
}

.search_btn:hover {
    background-color: rgb(123, 200, 252);
    cursor: pointer;
    transition: 0.5s;
    color: black;
    border: rgb(123, 200, 252);
}

.search_bar {
    width: 375px;
    height: 35px;
    border: 1px solid rgb(198, 197, 197);
    border-radius: 40px;
}

.search_bar::placeholder {
    padding-left: 20px;
    font-size: 15px;
}
/*header end*/

/*footer start*/
.footer{
    background-color: black;
    width: 110vw;
    height: 170px;
    margin-left: -30px;
    margin-top: 280px;
}

.ftrcontent {
    width: 200px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 13px;
    margin-top: -115px;
    line-height: 15px;
}

.para{
    width: 160px;
    margin-left: 80px;
}

.ftrlogo{
    width: 50px;
    margin-top: 30px;
    margin-left: 50px;
}

.para p{
    color: white;
    font-size: 12.5px;
    line-height: 12px;
    text-align: justify;
}
.link1 {
    margin-left: 350px;
}

.link2 {
    margin-left: 650px
}

.link3 {
    width: 250px;
    margin-left: 950px;
}   

.media {
    width: 200px;
    margin-top: -70px;
    margin-left: 1250px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12.5px;
}

.mediaImage{
    width: 200px;
}
/*footer end*/

.image1{
    width: 700px;
    height: 430px;
    border-radius: 60px;
}
.image-div {
    margin-top: 50px;
    margin-left: 730px;
    padding-bottom: 20px;
    padding-top: 30px;
    padding-right: 30px;
   
    
}

.main-container {
    background-color: bisque;
    margin-top: 50px;
    border-radius: 80px;
    margin-left: 20px;
    margin-right: 20px;
    height: 500px;
    margin-bottom: -200px;
    
}
body {
    overflow-x: hidden;
    font-family:  'Plus Jakarta Sans', sans-serif;
}

.details {
    background-color: white;
    margin-left: 50px;
    width: fit-content;
    position: relative;
    top: -450px;
    padding: 0 20px;
    font-size: 18px;
    border-radius: 40px;
    padding: 25px 60px ;
   
   
}
.inline-para p {
    display: inline-block;  
    margin-right: 25px;    
}

.topic {
    font-size: 20px;
}

.icon {
    position: relative;
    width: 25px;
    height: 25px;
    margin-left: -20px;
    top: 5px;
}

.icon1 {
    width: 40px;
    height: 40px;
    position: relative;
    top: 13px;
    left: -15px;
}

.search-box {
    width: fit-content;
    margin-left: 420px;
    border: 1px solid black;
    padding: 10px 150px;
    margin-bottom: -10px;
    background-color: rgb(240, 237, 237);
}

.box {
    width: 300px;
    height: 30px;
    position: relative;
    top: -3px;
}

.search {
    width: 20px;
    height: 20px;
}

.btn {
    padding: 5px 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background-color: bisque;
    font-weight: 600;

}

.btn:hover {
    background-color: rgb(230, 158, 70);
    transform: scale(1.001);
}

input::placeholder  {
    font-weight: 500;
    font-size: 17px;
    padding-left: 10px;
    padding-top: 5px;
}
input {
    border-radius: 10px;
    font-size: 17px;
    padding-left: 20px;
    
}